/* ================== HEADER ================== */
header {
    background: var(--header-bg);
    padding: 2rem 1rem 10rem;
    text-align: center;
    width: 100%;
}

header svg path.special {
    fill: var(--svg-fill);
}

#settings {
    position: absolute;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
}

/* ================== MAIN ================== */
#balance {
    margin-top: -8rem;
}

#balance h2 {
    color: #fff;
    margin-top: 0;
}

/* ================== CARDS ================== */
.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--text-primary);
}

.card {
    width: 32%;
    background: var(--card-income);
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
}

.card h3 {
    font-size: 1rem;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card img {
    width: 1.5rem;
    height: 1.5rem;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}

.card.minus {
    background: var(--card-minus);
    color: #fff;
}

.card.total {
    background: var(--card-total);
    color: #fff;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a.edit {
    display: flex;
    align-items: center;
}

a.edit svg {
    stroke: var(--light-button-primary);
    margin: 0 1rem;
}

a.edit:hover svg {
    stroke: var(--button-primary);
}

/* ================== TABLE ================== */
#data-table {
    width: 100%;
    color: #969cb3;
    border-spacing: 0 0.5rem;
}

table th {
    background: var(--card-income);
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
}

table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
}

table thead tr th:last-child,
table tbody tr td:last-child {
    padding: 1rem 0.8rem 1rem 0;
}

table tbody tr {
    opacity: 0.5;
}

table tbody tr:hover {
    opacity: 1;
    cursor: pointer;
}

table td {
    background: var(--card-income);
    padding: 1rem 2rem;
}

table td img {
    width: 1.2rem;
    height: 1.2rem;
}

td.description {
    color: var(--text-secondary);
}

td.income {
    color: var(--button-primary);
}

td.expense {
    color: #e92929;
}

/* =================== MODAL =================== */
.modal-overlay {
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    z-index: 20;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: var(--modal-bg);
    padding: 2.4rem;
}

.form {
    max-width: 500px;
}

.form h2 {
    color: var(--text-primary);
    margin-top: 0;
}

.input-group {
    margin-top: 0.8rem;
}

.input-group small {
    opacity: 0.4;
}

.input-group.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-group.actions .button,
.input-group.actions button {
    width: 48%;
}

.settings-modal label {
    color: var(--text-primary);
    margin: 0 1rem 0 0;
}

.settings-modal .input-group select {
    margin: 0 0 0 1rem;
}

.edit-modal .input-group.actions:nth-child(1) {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.edit-modal .input-group.actions:nth-child(1) label:first-child {
    margin-bottom: 1rem;
    color: var(--text-primary);
}

.edit-modal .input-group.actions:nth-child(1) select {
    width: 100%;
}

/* ================== FOOTER ================== */
footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--text-secondary);
    opacity: 0.6;
}

/* =============== RESPONSIVE =============== */
@media (max-width: 1024px) {
    .cards {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }
}

@media (max-width: 475px) {
    .card {
        padding: 1rem 1.5rem;
    }

    .card p {
        font-size: 1.8rem;
    }

    table {
        font-size: 0.8rem;
    }

    table thead th,
    table tbody td {
        padding: 1rem 0.8rem;
    }

    table thead tr th:last-child,
    table tbody tr td:last-child {
        padding: 1rem 0.4rem 1rem 0;
    }

    table td img {
        width: 0.8rem;
        height: 0.8rem;
    }

}